.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $mobile) {
    width: 394px;
  }

  @media screen and (min-width: $tablet) {
    width: 836px;
  }

  @media screen and (min-width: $desktop) {
    width: 1246px;
  }
}