*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}
textarea {
  resize: none;
  overflow: hidden;
}
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-style: normal;
}

ul,
ul li,
ol li {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  display: block;
}
