
@mixin mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}
@mixin mobile-only {
  @media screen and (max-width: 853px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: 1263px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin flexCenter($type:flex, $main-axis:center, $cross-axis:center) {
	display: $type;
	justify-content: $main-axis;
	align-items: $cross-axis;
}


@mixin transition($property1:all, $property2:null, $property3:null, $duration:250ms, $timing-function:cubic-bezier(0.4, 0, 0.2, 1), $delay:0ms) {
	transition-property: $property1, $property2, $property3;
	transition-duration: $duration;
	transition-timing-function: $timing-function;
	transition-delay: $delay;
}

