// Fonts

$suptitleFont: 'Kaushan Script', cursive;
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// Colors

$accent-color1: #f38181;
$accent-color2: #fce38a;
$accent-color3: #95e1d3;

$white-textColor: #ffffff;
$dark-textColor: #000000;
$content-textColor: #999999;

