.footer {
  @include flexCenter();
  height: 120px;

  border-top: 1px solid #e5e5e5;

  @include tablet {
    height: 60px;
  }

  &__container {
    @include mobile-only {
      @include flexCenter();
      flex-direction: column-reverse;
      gap: 20px;
    }

    @include tablet {
      @include flexCenter($main-axis: space-between);
    }
  }

  &__rights {
    color: $title-textColor;
    font-size: 14px;
    line-height: 1.2;
  }

  &__link {
    display: inline-block;

    color: $accent-color1;

    @include transition($property1: color);

    &:hover,
    &:focus {
      color: $accent-color2;
    }
  }
}
