.services {
  &__title {
    margin-bottom: 110px;
  }

  &__list {
    display: grid;
    row-gap: 60px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 48px;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 99px;
      column-gap: 68px;
    }
  }

  &__item {
    display: flex;
    gap: 27px;
  }
}
